body.dark-to-light {
    animation: darkToLight 5s forwards;
}

.confetti {

    img {
        -webkit-user-select: none;
        user-select: none;
    }

    div:not(.hidden) .heart {
        animation: pulse .5s forwards;
    }

    .balloon {
        cursor: pointer;
        transition: scale .15s, opacity 1s 1s;
        opacity: 0;
        visibility: hidden;
        z-index: -1;
        &:active {
            scale: 1.3;
        }
        &.active {
            opacity: 1;
            visibility: visible;
            z-index: 1;
        }
    }

    .heart-wrapper {
        position: relative;
        animation: raise 1.3s 4s forwards;
    }

    .top-text,
    .bottom-text {
        font-weight: bold;
        text-align: center;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        pointer-events: none;
    }
    .top-text {
        top: -18%;
        font-size: 90px;
        text-transform: uppercase;
        color: hotpink;
        mix-blend-mode: multiply;
        white-space: nowrap;
        transition-duration: 1s;
        transition-delay: 1s;
        left: -50%;
        opacity: 0;

        &.active {
            left: 50%;
            opacity: 1;
        }
    }
    .bottom-text {
        font-size: 80px;
        top: 100%;
        color: violet;
        text-shadow: 0 0 12px rgba(0,0,0,.25);
        opacity: 0;
        transition-duration: 1s;
        transition-delay: 2s;

        &.active {
            top: 75%;
            opacity: 1;
        }
    }
}
